*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: hsl(0, 0%, 86%);
  font-family: "Poppins", sans-serif;
  font-size: 12px;
}

h2 {
  color: hsl(0, 0%, 8%);
  font-style: italic;
  font-size: 4.5rem;
  font-weight: 800;
  margin: 0;
}

hr {
  height: 1px;
  background-color: hsl(0, 0%, 86%);
  border: none;
  width: 100%;
  margin: 35px 0 5px 0;
  display: inline-block;
}

p {
  color: hsl(0, 1%, 44%);
  padding: 0;
  margin: 5px 0;
}

input {
  font-size: 25px;
}

/* container design */

.container {
  background-color: hsl(0, 0%, 100%);
  width: 40rem;
  height: 32rem;
  margin: 70px auto;
  border-radius: 15px 15px 150px 15px;
  padding: 2em 4em;
}

/* parahraph / input  */

.input-info {
  display: flex;
}

/* hr & img */

.hr-img {
  position: relative;
}

/*  styling & color */

.text {
  font-family: sans-serif;
  font-style: italic;
  color: hsl(0, 100%, 67%);
}

/* button */

.icon-arrow {
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 50%;
  padding: 1.5em;
  background-color: hsl(259, 100%, 65%);
  cursor: pointer;
}

.icon-arrow:hover {
  background-color: hsl(0, 0%, 8%);
}

.years,
.months,
.days {
  color: hsl(259, 100%, 65%);
}

.input-style {
  width: 120px;
  height: 45px;
  border-radius: 7px;
  border: solid 1px hsl(0, 0%, 86%);
  padding-left: 10px;
  margin-right: 30px;
  outline: none;
}

/* hidden elements */

.hidden {
  display: none;
}

.error-text {
  color: hsl(0, 100%, 67%);
}

.error-border {
  border: solid 1px hsl(0, 100%, 67%);
}

@media (max-width: 600px) {
  h2 {
    font-size: 3.3rem;
  }

  .text {
    font-size: 10px;
  }

  .container {
    width: 25rem;
  }

  .input-style {
    margin-bottom: 30px;
  }
  .icon-arrow {
    left: 130px;
  }

  .input-style {
    width: 90px;
    height: 50px;
    margin-bottom: 5px;
  }

  .hr-img {
    margin: 20px 0;
  }

  .years {
    margin-top: 20px;
  }
}
